.producto-tarjeta{
  width: 250px;
  background-color: rgb(121, 235, 255);
  border-radius: 12px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}

.tarjeta-menu{
  width: 445px;
  background-color: rgb(37, 248, 252);
  border-radius: 12px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}

.tarjeta-menu{
  font-size: 30px;
}

.titulo2{
  width: 280px;
  background-color: antiquewhite;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}

body{
  background-color: rgb(63, 61, 61);
}

.titulo-menu{
  font-size: 50px;
  text-align: center;
  border: 20px;
  background-color: rgb(37, 248, 252);
  margin: 10px;
}

.producto-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.producto-titulo{
  font-size: 20px;
  font-weight: bold;

}

.producto-desk{
  font-size: 14px;
  color: brown;
}

.producto-btn{
  background-color: rgb(19, 82, 255);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.producto-btn:hover{
  background-color: brown;
}